<header class="d-flex justify-content-between align-items-center">
  <h1 class="logo" [routerLink]="ROUTER_LINKS.HOME">Golden store</h1>
  <nav class="header-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="ROUTER_LINKS.HOME">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="ROUTER_LINKS.PROVIDERS">Продукция</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="ROUTER_LINKS.EMPLOYEES">Cотрудники</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="ROUTER_LINKS.SHOPS">Магазины</a>
      </li>
    </ul>
  </nav>
</header>
