<ng-container *ngIf="!provider; else manipulate">
  <h1 class="text-center">Поставщики</h1>
  <div class="container text-center">
    <div class="row">
      <div *ngFor="let provider of providers" class="col-3 mb-3">
        <app-card
          [provider]="provider"
          (openDetailsEvent)="openMaterial($event)"
          (editEvent)="setCurrentProvider($event)"
        ></app-card>
      </div>
    </div>
    <div>
      <button (click)="addProvider()" class="btn btn-success ms-2 add">+</button>
    </div>
  </div>
</ng-container>
<ng-template #manipulate>
  <app-manipulator
    [provider]="provider"
    [creationMode]="isCreationMode()"
    (creationResultEvent)="createProvider($event)"
    (editionResultEvent)="editProvider($event)"
    (cancelEvent)="cancel()"
  ></app-manipulator>
</ng-template>
