<h1 class="text-center">{{title}}</h1>
<div class="container text-center">
  <div class="row">
    <ng-template [ngIf]="products">
      <div *ngFor="let product of products" class="col-3 mb-3">
        <div class="card" style="width: 18rem;">
          <img [src]="product?.img" alt="Фото изделия" class="card-img-top">
          <div class="card-body">
            <h5 [routerLink]="product.id" class="card-title">{{product.title}}</h5>
            <p>{{product.description}}</p>
            <div class="d-flex justify-content-center mt-3">
              <button class="btn btn-primary" (click)="edit(product)">Редактировать</button>
              <button class="btn btn-danger" (click)="delete(product.id)">Удалить</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button [routerLink]="ROUTER_LINKS.ADD + '/product'" class="btn btn-success ms-2 add">+</button>
      </div>
    </ng-template>
  </div>
</div>
