<ng-container [ngSwitch]="true">
  <ng-template [ngSwitchCase]="!!employee">
      <h1 class="text-center">{{employee.name}} {{employee.surname}}</h1>
      <div class="image-block mb-3">
        <div class="image-wrapper">
          <img [src]="employee.img" alt="Фото сотрудника">
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Возраст: {{employee.age}}</li>
        <li class="list-group-item">Должность: {{employee.position}}</li>
        <li class="list-group-item">З/П: {{employee.salary}}</li>
      </ul>
  </ng-template>
</ng-container>
