<h1 class="text-center">{{title}}</h1>
<div class="container">
  <div [ngSwitch]="instance" class="d-flex flex-column">
    <ng-template ngSwitchCase="employee">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="employeePhoto" class="form-label">Фото</label>
          <input formControlName="img" class="form-control" id="employeePhoto" aria-describedby="employeePhotoHelp">
          <div id="employeePhotoHelp" class="form-text">Укажите ссылку на фото сотрудника</div>
        </div>
        <div class="mb-3">
          <label for="employeeName" class="form-label">Имя</label>
          <input formControlName="name" class="form-control" id="employeeName">
        </div>
        <div class="mb-3">
          <label for="employeeSurname" class="form-label">Фамилия</label>
          <input formControlName="surname" class="form-control" id="employeeSurname">
        </div>
        <div class="mb-3">
          <label for="employeeAge" class="form-label">Возраст</label>
          <input formControlName="age" class="form-control" id="employeeAge">
        </div>
        <div class="mb-3">
          <label for="employeePosition" class="form-label">Должность</label>
          <input formControlName="position" class="form-control" id="employeePosition">
        </div>
        <div class="mb-3">
          <label for="employeeSalary" class="form-label">Заработная плата</label>
          <input formControlName="salary" class="form-control" id="employeeSalary">
        </div>
      </form>
      <div class="d-flex justify-content-between">
        <button (click)="manipulate()" [disabled]="isFormInvalid(form)" class="btn btn-primary">Отправить</button>
        <button (click)="goBackToAll(form)" class="btn btn-danger">Назад</button>
      </div>
    </ng-template>
    <ng-template ngSwitchCase="shop">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="shopPhoto" class="form-label">Фото</label>
          <input formControlName="img" class="form-control" id="shopPhoto" aria-describedby="shopPhotoHelp">
          <div id="shopPhotoHelp" class="form-text">Укажите ссылку на фото магазина</div>
        </div>
        <div class="mb-3">
          <label for="shopAddress" class="form-label">Адресс</label>
          <input formControlName="address" class="form-control" id="shopAddress">
        </div>
        <div class="mb-3">
          <label for="shopOpenTime" class="form-label">Время открытия</label>
          <input formControlName="openTime" class="form-control" id="shopOpenTime">
        </div>
        <div class="mb-3">
          <label for="shopCloseTime" class="form-label">Время закрытия</label>
          <input formControlName="closeTime" class="form-control" id="shopCloseTime">
        </div>
      </form>
      <div class="d-flex justify-content-between">
        <button (click)="manipulate()" [disabled]="isFormInvalid(form)" class="btn btn-primary">Отправить</button>
        <button (click)="goBackToAll(form)" class="btn btn-danger">Назад</button>
      </div>
    </ng-template>
    <ng-template ngSwitchCase="provider">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="providerPhoto" class="form-label">Лого</label>
          <input formControlName="img" class="form-control" id="providerPhoto" aria-describedby="providerPhotoHelp">
          <div id="providerPhotoHelp" class="form-text">Укажите ссылку на лого провайдера</div>
        </div>
        <div class="mb-3">
          <label for="providerTitle" class="form-label">Название</label>
          <input formControlName="title" class="form-control" id="providerTitle">
        </div>
        <div class="mb-3">
          <label for="providerSubtitle" class="form-label">Слоган</label>
          <input formControlName="subtitle" class="form-control" id="providerSubtitle">
        </div>
        <div class="mb-3">
          <label for="providerDescription" class="form-label">Описание</label>
          <input formControlName="description" class="form-control" id="providerDescription">
        </div>
        <div class="mb-3">
          <label for="providerFoundingDate" class="form-label">Год основания</label>
          <input formControlName="foundingDate" class="form-control" id="providerFoundingDate">
        </div>
      </form>
      <div class="d-flex justify-content-between">
        <button (click)="manipulate()" [disabled]="isFormInvalid(form)" class="btn btn-primary">Отправить</button>
        <button (click)="goBackToAll(form)" class="btn btn-danger">Назад</button>
      </div>
    </ng-template>
    <ng-template ngSwitchCase="material">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="materialPhoto" class="form-label">Фото</label>
          <input formControlName="img" class="form-control" id="materialPhoto" aria-describedby="materialPhotoHelp">
          <div id="materialPhotoHelp" class="form-text">Укажите ссылку на фото материала</div>
        </div>
        <div class="mb-3">
          <label for="materialTitle" class="form-label">Название</label>
          <input formControlName="title" class="form-control" id="materialTitle">
        </div>
        <div class="mb-3">
          <label for="materialDescription" class="form-label">Описание</label>
          <input formControlName="description" class="form-control" id="materialDescription">
        </div>
      </form>
      <div class="d-flex justify-content-between">
        <button (click)="manipulate()" [disabled]="isFormInvalid(form)" class="btn btn-primary">Отправить</button>
        <button (click)="goBackToAll(form)" class="btn btn-danger">Назад</button>
      </div>
    </ng-template>
    <ng-template ngSwitchCase="product">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="productPhoto" class="form-label">Фото</label>
          <input formControlName="img" class="form-control" id="productPhoto" aria-describedby="productPhotoHelp">
          <div id="productPhotoHelp" class="form-text">Укажите ссылку на фото товара</div>
        </div>
        <div class="mb-3">
          <label for="productTitle" class="form-label">Название</label>
          <input formControlName="title" class="form-control" id="productTitle">
        </div>
        <div class="mb-3">
          <label for="productDescription" class="form-label">Описание</label>
          <input formControlName="description" class="form-control" id="productDescription">
        </div>
        <div class="mb-3">
          <label for="productType" class="form-label">Тип</label>
          <input formControlName="type" class="form-control" id="productType">
        </div>
        <div class="mb-3">
          <label for="productWeight" class="form-label">Вес</label>
          <input formControlName="weight" class="form-control" id="productWeight">
        </div>
        <div class="mb-3">
          <label for="productCost" class="form-label">Цена</label>
          <input formControlName="cost" class="form-control" id="productCost">
        </div>
      </form>
      <div class="d-flex justify-content-between">
        <button (click)="manipulate()" [disabled]="isFormInvalid(form)" class="btn btn-primary">Отправить</button>
        <button (click)="goBackToAll(form)" class="btn btn-danger">Назад</button>
      </div>
    </ng-template>
  </div>
</div>
